.chatform{
    width: 400px;
    height:650px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #D7D2CB ;
    border-radius: 0.2em;
    .container{
      padding-top:0.2em;
      padding-bottom:0.2em;
      border-bottom: 1px solid #D7D2CB ;
      height:5%;
      background-color:#F4F3F0;
    }
  }
  